<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mercadinho - CRUD</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
</head>

<body>
<div id="inicio" class="container-fluid table" >
	<h4>Lista de Produtos</h4>
	<table>
		<tr>
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Unidade</th>
			<th>Volume</th>
			<th>Estoque</th>
			<th></th>
			<th></th>
		</tr>
	  	<tbody id="event-table" >
			<tr v-for="produto in listaProdutos">
		  		<td>{{ produto.nome }}</td> 
		  		<td>{{ produto.fabricante.nome }}</td> 
				<td>{{ produto.unidade }}</td> 
				<td>{{ produto.volume }}</td>				
				<td>{{ produto.estoque }}</td>
		  		<td>
		  			<button 
		  				class="btn btn-primary btn-sm" @click="editarProduto(produto)">&#9998; Editar
		  			</button>		
				  	
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" @click="gravarIdProduto(produto.id)" data-target="#exampleModal">
					  &#10006; Excluir
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Excluir Produto!</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Deseja realmente excluir este produto?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" @click="excluirProduto">Excluir</button>
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					      </div>
					    </div>
					  </div>
					</div>
		  		
		  		
		  		</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" type="button" href="/mercado/novo-produto.html">Novo Produto</a>
</div>





	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/jquery-3.4.1.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>