<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mercadinho - CRUD</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
</head>

<body>
<div id="app">
	<h3>{{ tituloCadastro }}</h3>
	
	<div class="input-group">
		<input type="text" placeholder="Nome" class="form-control my-3" v-model="nome" />	
	</div>
	
	<div class="input-group">
		<select class="custom-select" v-model="idFabricante" @change="selecionarFabricante(idFabricante)">
		<option value="" disabled selected="selected">Fabricante</option>
		<option v-for="fabricante of listafabricantes" :value="fabricante.id">{{fabricante.nome}}</option>
		</select>
	</div>
	
	<div class="input-group">
		<input type="text" placeholder="Unidade" class="form-control my-3" v-model="unidade" />
		<input type="number" placeholder="Volume" class="form-control my-3" v-model="volume" min="0" max="999" step="0.01" />	
		<input type="number" placeholder="Estoque" class="form-control my-3" v-model="estoque" min="0" max="999" />
	</div>
	
	<div class="d-flex justify-content-between">
		<button class="btn btn-primary" @click="cadastrarNovoProduto">Cadastrar</button>
		<a class="btn btn-danger" type="button" href="/mercado/index.html">Voltar</a>
	</div>

	<br/>
	<div id="alertSucesso" v-if="apresentaMensagemSucesso" class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		{{ mensagemSucesso }}
	</div>

	<br/>
	<div id="alertErro" v-if="apresentaMensagemErro" class="alert alert-danger" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Erro!</strong> {{ mensagemErro }}
	</div>
	
	<br/>
	<div id="alertErroFab" v-if="apresentaMensagemErroFabricante" class="alert alert-danger" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Erro!</strong> {{ mensagemErroFabricante }}
	</div>
</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/jquery-3.4.1.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/novo-produto.js"></script>
</body>
</html>